fastapi
uvicorn
pydantic
psycopg2-binary 
python-jose 
passlib 
python-multipart 
pydantic-settings

itsdangerous
email-validator
vertexai
google-genai

### For ML and NLP
--index-url https://download.pytorch.org/whl/cpu
--extra-index-url https://pypi.org/simple
torch
sentence-transformers
numpy
google-cloud-storage
python-dotenv

python-docx
PyPDF2
langchain