fastapi
uvicorn
pydantic
psycopg2-binary 
python-jose 
passlib 
python-multipart 
pydantic-settings

itsdangerous
email-validator
vertexai
google-genai

### For ML and NLP
torch==2.6.0 --extra-index-url https://download.pytorch.org/whl/cpu
sentence-transformers
numpy
google-cloud-storage
python-dotenv

python-docx
PyPDF2
langchain